<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWCnHxOyfUgGmW-xvt8jdlnxHs_d_lKT4</string>
	<key>GCM_SENDER_ID</key>
	<string>752059871954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.followupapprefactored</string>
	<key>PROJECT_ID</key>
	<string>coachikofollowapp-7d892</string>
	<key>STORAGE_BUCKET</key>
	<string>coachikofollowapp-7d892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752059871954:ios:bd85afffc0782d6e91f30b</string>
</dict>
</plist>